{% extends 'base.html' %}

{% block content %}
<div style="display: flex; justify-content: center; align-items: center;">
<div class="container">
    <h2>Forgot Password</h2>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>

    <p><a href="{% url 'login' %}">Back to Login</a></p>
</div>
</div>
{% endblock %}
